.container {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  padding: 30px;
  margin-top: 100px;
  border-radius: 10px;
}
