<<<<<<< HEAD
=======
.container {
  background-color: #29686a;
}

>>>>>>> bc0f445e6d39b969c81c4fb34b82a602c4edcf75
.containerAtual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  & img {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
  }
}

.atual {
  background-color: #8e0d3c;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  padding: 25px;
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  gap: 7px;
  color: black;

  & label {
    display: flex;
    margin: 0 auto;
    font-size: 20spx;
    background-color: lightgray;
    padding: 6px;
    border: 2px solid #333333;
    border-radius: 10px;
    width: 450px;
    height: 4vh;
  }
}
.troca_foto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  & foto_perfil {
    width: 1200px;
    height: 100px;
    object-fit: cover;
  }
  & p {
    font-size: 12px;
    color: aliceblue;
  }
}
.containerDescricao {
  display: flex;
  flex-direction: row;
}

.editar {
  background-color: #2d2761;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 10px;
  gap: 8px;

  & input {
    font-size: 15px;
    padding: 8px;
    width: 480px;
    border-radius: 8px;
  }

  & button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-size: 20px;
    margin: 15px;
    padding: 6px;
    width: 200px;
    border-radius: 6px;
  }
  & button:hover {
    opacity: 0.8;
  }
  & p {
    display: flex;
  }
}
